{% extends "base.html" %}

{% block head_title %} Sign Up {% endblock %}




{% block content %}




                    <div class="page-heading"> <h3>Contact Us  <i class="fa fa-envelope"></i></h3></div>




        <!-- Contact Us -->
        <div class="contact-us-container">
        	<div class="container">





	            <div class="row">
	                <div class="col-sm-6 contact-form wow fadeInLeft">
                         <h3>By Phone</h3>


                        <h4>General Manager</h4>
	                    <p>James Doolin - 085 1000053</p>

                         <hr />

                                                <h4>Business Manager</h4>
	                    <p>Liam Creagh - 086 8205910</p>

                         <hr />

	                    <h4>HR Department</h4>
	                    <p>Katharine Cooney - 086 8205910</p>

                         <hr />



                        <h4>Engineering Department</h4>
	                    <p>Kang Li - 089 9525390</p>

                        <hr />

                        <h4>UX Department</h4>
	                    <p>Shuyu Huang - 087 7214162</p>

	                </div>
	                <div class="col-sm-6 contact-address wow fadeInUp">
	                    <h3>By Email</h3>


                        <a href="mailto:anthusnews@gmail.com">anthusnews@gmail.com</a>









	                      </div>
	            </div>
	        </div>
        </div>



{% endblock %}