<!-- Footer -->
        <footer>
            <div class="container">

                <div class="row">
                    <div class="col-sm-7 footer-copyright wow fadeIn">
                        <p>&copy; 2015 Anthus News - All rights reserved. - <a href="/help">Help</a></p>
                    </div>
                    <div class="col-sm-5 footer-social wow fadeIn">


                        <a target="_blank" href="https://www.facebook.com/anthusnews1"><i class="fa fa-facebook"></i></a>

                        <a target="_blank" href="https://twitter.com/anthusnews"><i class="fa fa-twitter"></i></a>

                    </div>
                </div>
            </div>
        </footer>