{% extends "base.html" %}

{% block head_title %} Sign Up {% endblock %}




{% block content %}




                    <div class="page-heading"> <h3>Help  <i class="fa fa-question-circle"></i></h3></div>


<h4>My profile</h4>
<p>Once you permit us to read your Twitter profile, we look at the user accounts you are following. A set of topics is then
chosen for you based on the areas the "experts" among the people you follow are associated with. For example, an account that
follows Real Madrid, Barack Obama and Katy Perry is given a higher than average rating for the sports, politics and music
categories.
<p>
<b>How does it work?</b> we identify topic experts using crowd-sourced data from Twitter. Twitter users who are associated
with a particular topic by sufficient users are identified as experts. Once you are following an "expert" user you are deemed
to be interested in their topic.
</p>
<h4>Update profile</h4>
<p>This allows you to reload your profile from your Twitter profile. You may want to do this after you have changed who you are
following.</p>

<h4>Explicit profile</h4>
<p>You can adjust the settings for your user profile by moving the sliders for each of the topics on the left hand side of the page.
You can also remove the topics using the - button, however if the topic has been identified by you Twitter profile it will continue to appear but will be de-prioritised.
You can add topics not identified by Twitter from the list on the right by clicking the + button.
</p>
<h4>Click-throughs</h4>
<p>As you read the articles presented, the proportion of articles that you read in each topic is used to bump up or down the
topics.
So, if you read articles on a topic that has a low-rating in your profile, this topic will be given a marginally higher rating
and will appear more frequently.
</p>





{% endblock %}