      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Dianthus News</h1>
        <p>Welcome to Dianthus News!</p>
        <p>Home of the Worlds Best Personalised News Feed</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/accounts/register" alt="Register" title="Register" role="button">Register</a>
            <a class="btn btn-lg btn-primary" href="/accounts/login" alt="Login" title="Login" role="button">Login</a>
        </p>
      </div>

    </div> <!-- /container -->



