      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Anthus News</h1>
        <p>Personal Profile Not Yet Created!</p>
        <p>To get your own personalised news feed, please login with your Twitter account!</p>













 <a target="_top" href="/auth_twitter" class="btn btn-primary btn-lg"> Login with Twitter</a>

<!--<script>-->
<!--function myFunction() {-->
    <!--window.open("{{ redirect_url }}", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=500, left=500, width=400, height=572");-->
<!--}-->
<!--</script>-->



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Authentication</h4>
      </div>







    </div>
  </div>
</div>


            </div>

    </div> <!-- /container -->



