{% extends "base.html" %}

{% block head_title %} Sign Up {% endblock %}




{% block content %}












    <div class="jumbotron">

        <div class="row">


        <h1>Welcome to Anthus News</h1>


        <h4>Home of the Worlds Best Personalised News Feed</h4>
        <br />

        <p>Here at Anthus news we help determine what you are interested in by logging in with your twitter account to generate a personal profile based on your tastes. We then create a news feed made just for you. The more you use our system the more we get to know you. And if you don't like what we have created for you, feel free to change your profile.</p>
</div>


        <div class="row">
         <div class="col-xs-6"><p>	<a href="/accounts/register"><i class="fa fa-pencil-square-o"></i> Register</a></p></div>
  <div class="col-xs-6 "><p><a href="/accounts/login"><i class="fa fa-sign-in"></i> Login</a></p></div>
</div>



        </p>
      </div>
















{% endblock %}